body{
    display: flex;
    flex-wrap: wrap;
}
header,footer{
    flex-basis: 100%;
}
header{
    text-align: center;
}
header ul{
    display: flex;
}
header li{
    flex-basis: 100%;
}


main{
    width: 100%;
}
main ul{
    display: flex;
    flex-wrap: nowrap;
    width: 60%;
    margin-left: 20%;
}
main li{
    flex-basis: 100%;
    width: 33%;
    text-align: center;
}
main>img{
    width: 60%;
    margin-left: 20%;
    margin-top: 20px;
}
ul img{
    width: 30%;
    height: auto;
}


footer{
    flex-basis: 100%;
    display: flex;
    flex-wrap: nowrap;
}
footer img{
    margin: 10px;
    width: 2em;
    height: 2em;
}




