body{
    display: flex;
    flex-wrap: wrap;
}
header{
    flex-basis: 100%;
}
header ul{
    display: flex;
}
header li{
    flex-grow: 1;
}
main{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 70%;
    flex-grow: 1;
}
h2{
    flex-basis: 100%;
}
section{
    flex-basis: 47%;
    flex-grow: 0;
}

aside{
    flex-basis: 15%;
}

footer{
    flex-basis: 100%;
    display: flex;
    flex-wrap: nowrap;
}