body {
    display: flex;
    flex-wrap: wrap;
}

header {
    flex-basis: 100%;
}

nav ul {
    display: flex;
    flex-wrap: nowrap;
}

nav li {
    flex-basis: 80%;
    flex-grow: 0;
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 70%;
    flex-grow: 1;
}

main > h2 {
    flex-basis: 100%;
}

section {
    flex-basis: 45%;
    flex-grow: 0;
}

aside {
    flex-basis: 15%;
    flex-grow: 0;
}

footer {
    display: flex;
    flex-wrap: nowrap;
    flex-basis: 100%;
}