/* CSS pour la page plats */

h1, h2, h3 {
    color: darkblue;
}

header, footer {
    background-color: lightgray;
    margin: 10px;
}

section {
    background-color: lightblue;
    margin: 10px;
    padding: 15px;
}

nav ul {
    list-style-type: none;
}

section ul {
    list-style-type: square;
}

footer img {
    width: 1em;
    margin: 15px;
}

nav li:hover{
    background-color: white;
}

header {
    text-align: center;
}

main {
    margin-left: 20px;
}

aside {
    margin-right: 20px;
}