nav ul
{
    list-style-type: none;
}

header{
    text-align: center;
}

section 
{
    padding: 10px;
    background-color:lightblue;
}

h1, h2, h3
{
    color:darkblue;
}

header, footer
{
    background-color: lightgray;
}

main li
{
    list-style-type: square ;
}

main
{
    margin: 10px;
}

aside
{
    margin-right: 10px;
}
section
{
    margin: 5px;
}

section>img
{
    width: 50%;
    height: auto;
}

aside img
{
    width: 85%;
    height: auto;
}

footer
{
    padding: 5px;
}

footer img
{
    margin: 10px;
    width: 2em;
    height: 2em;
}